URxvt*background:    #000000
URxvt*foreground:    #ffffff

URxvt*color0:        #000000
URxvt*color1:        #ff0000
URxvt*color2:        #00ff00
URxvt*color3:        #ffff00
URxvt*color4:        #0000ff
URxvt*color5:        #ff00ff
URxvt*color6:        #00ffff
URxvt*color7:        #c0c0c0
URxvt*color8:        #808080
URxvt*color9:        #ff0000
URxvt*color10:       #00ff00
URxvt*color11:       #ffff00
URxvt*color12:       #0000ff
URxvt*color13:       #ff00ff
URxvt*color14:       #00ffff
URxvt*color15:       #ffffff

URxvt*cursorColor:   #ffffff
URxvt*pointerColor:  #ffffff
URxvt*highlightColor: #808080
URxvt*highlightTextColor: #000000

URxvt*scrollBar: false

URxvt*font: xft:JetBrains Mono:style=Regular:pixelsize=14,xft:Noto Sans CJK JP:style=Regular:pixelsize=14

URxvt*iso14755: false
